@model IEnumerable<ContosoUniversity.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="text" name="SearchString" value="@ViewData["CurrentSearch"]" />
    <input type="submit"  value="Search" />
    <a asp-action="Index">Back to full list</a>"
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LNameSort"]" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-pgAtual="@ViewData["PgAtual"]">@Html.DisplayNameFor(model => model.LastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSort"]" asp-route-searchString="@ViewData["CurrentSearch"]" asp-route-pgAtual="@ViewData["PgAtual"]">@Html.DisplayNameFor(model => model.EnrollmentDate)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@if ((int)ViewData["PgAtual"] == 1)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pgAtual="1"
       asp-route-searchString="@ViewData["CurrentSearch"]"
       class="btn btn-primary disabled">
        Previous
    </a>
}
else
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pgAtual="@((int)ViewData["PgAtual"] - 1)"
       asp-route-searchString="@ViewData["CurrentSearch"]"
       class="btn btn-primary">
        Previous
    </a>
}



@for (int i = 1; i <= (int)ViewData["QtdPgs"]; i++)
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pgAtual="@i"
       asp-route-searchString="@ViewData["CurrentSearch"]"
       class="btn btn-primary ">
        @i
    </a>
}

@if ((int)ViewData["PgAtual"] == (int)ViewData["QtdPgs"])
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pgAtual="@((int)ViewData["QtdPgs"] + 1)"
       asp-route-searchString="@ViewData["CurrentSearch"]"
       class="btn btn-primary disabled">
        Next
    </a>
}
else
{
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pgAtual="@((int)ViewData["PgAtual"] + 1)"
       asp-route-searchString="@ViewData["CurrentSearch"]"
       class="btn btn-primary">
        Next
    </a>
}

